[Unit]
Description=Minecraft Droplet Server
After=network.target

[Service]
WorkingDirectory=/opt/minecraft

Type=forking

PrivateUsers=true

User=minecraft
Group=minecraft

ProtectSystem=full

ProtectHome=true

ProtectKernelTunables=true

ProtectKernelModules=true

ProtectControlGroups=true

Environment="SHUTDOWN_DELAY=5" "RAM=%i" "POST_SHUTDOWN_DELAY=10"

ExecStart=/bin/sh -c \
            '/usr/bin/screen -dmS minecraft \
                /usr/bin/java \
                   -server \
                   -Xms$${RAM}M \
                   -Xmx$${RAM}M \
                   -XX:+UseG1GC \
                   -XX:ParallelGCThreads=2 \
                   -XX:MinHeapFreeRatio=5 \
                   -XX:MaxHeapFreeRatio=10 \
                   -jar server.jar \
                   --nogui'

ExecReload=/usr/bin/screen -p 0 -S minecraft -X eval 'stuff "reload"\\015'

ExecStop=/usr/bin/screen -p 0 -S minecraft -X eval 'stuff "say SERVER SHUTTING DOWN. Saving map..."\\015'
ExecStop=/bin/sh -c '/bin/sleep ${SHUTDOWN_DELAY}'
ExecStop=/usr/bin/screen -p 0 -S minecraft -X eval 'stuff "save-all"\\015'
ExecStop=/usr/bin/screen -p 0 -S minecraft -X eval 'stuff "stop"\\015'
ExecStop=/bin/sh -c '/bin/sleep ${POST_SHUTDOWN_DELAY}'

Restart=on-failure
RestartSec=15s

[Install]
WantedBy=multi-user.target