[Unit]
Description=Airflow webserver
After=network.target postgresql.service redis-server.service

[Service]
WorkingDirectory=/home/airflow
#EnvironmentFile=/root/.digitalocean_passwords
ExecStart=sudo -s -u airflow /var/lib/digitalocean/webserver.sh
Restart=always
SyslogIdentifier=airflow-webserver

[Install]
WantedBy=multi-user.target