[Unit]
Description=Gunicorn daemon for Flask Project
Before=nginx.service
After=network.target

[Service]
WorkingDirectory=/home/flask
ExecStart=/usr/bin/gunicorn3 --name=flask_project --pythonpath=/home/flask/flask_project --bind unix:/home/flask/gunicorn.socket --config /etc/gunicorn.d/gunicorn.py wsgi:app
Restart=always
SyslogIdentifier=gunicorn
User=flask
Group=flask


[Install]
WantedBy=multi-user.target
