[Unit]
Description=VNC Server for X11
Requires=graphical.target
After=graphical.target

[Service]
ExecStart=/bin/bash -c "/usr/bin/x11vnc -auth /var/run/sddm/* -display :0 -forever -noxfixes -noxdamage -repeat -rfbauth '/home/user/.vnc/passwd' -rfbport 5900 -shared"
RestartSec=5
Restart=always

[Install]
WantedBy=graphical.target
