<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    </head>
    <title>Flask Droplet</title>
    <body>
        <div class="Flask">
            <img src="logo.png" class="Sammy" alt="logo" />
            <p>
                Welcome to your Flask droplet!
            </p>
            <a
                    class="Flask-link"
                    href="https://marketplace.digitalocean.com/apps/flask#getting-started"
                    target="_blank"
                    rel="noopener noreferrer"
            >
                Getting started
            </a>
        </div>
    </body>
<html>
