[Unit]
Description=ZooKeeper Service
Documentation=http://zookeeper.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User=kafka
Group=kafka
ExecStart={{ kafka_dir }}/bin/zookeeper-server-start.sh {{ kafka_dir }}/config/zookeeper.properties
ExecStop={{ kafka_dir }}/bin/zookeeper-server-stop.sh
Restart=on-abnormal
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=zookeeper

[Install]
WantedBy=multi-user.target
