[Unit]
Description=Open Web UI Service
After=network.target

[Service]
User=digitalocean
WorkingDirectory=/home/digitalocean
ExecStart=/home/digitalocean/.conda/envs/ui/bin/open-webui serve
Restart=always
SyslogIdentifier=open-webui
StandardOutput=append:/var/log/open-webui.log
StandardError=append:/var/log/open-webui.log

[Install]
WantedBy=multi-user.target
