[Unit]
Description=Open Web UI Service
After=network.target

[Service]
User=digitalocean
WorkingDirectory=/home/digitalocean
ExecStart=/home/digitalocean/.conda/envs/ui/bin/open-webui serve
Restart=always
SyslogIdentifier=open-webui

[Install]
WantedBy=multi-user.target
