[Unit]
Description=Install droplet-agent if missing
Wants=network-online.target
After=network-online.target
ConditionPathExists=!/opt/digitalocean/bin/droplet-agent

[Service]
Type=oneshot
ExecStart=/opt/digitalocean_desktop/install_droplet_agent.sh
RemainAfterExit=yes
TimeoutStartSec=600

[Install]
WantedBy=multi-user.target
